<div class="container" ng-controller="mainCtrl">
  <div class="row">

    <div class="col-sm-8 blog-main">
      <button class="btn btn-default" ng-click="setSortType('id')">Fresh</button>
      <button class="btn btn-default" ng-click="setSortType(ratingSort)">Most rated</button>
      <div class="blog-post" ng-repeat="instruction in data | orderBy: sortType : true | limitTo : limitValue">
        <h2 class="blog-post-title"><a href="" ng-click="openInstruction(instruction.id);">{{instruction.title}}</a></h2>
        <p class="blog-post-meta">{{instruction.created|date:'yyyy-MM-dd'}} <a href="" ng-click="profile(instruction.authorId)">{{getUsername(instruction.authorId)}}</a> Category {{instruction.category}}, tags: <span ng-repeat="tag in instruction.tags">{{tag}}, </span>
          Rating: {{averageRating(instruction.id)}}
        </p>
        <div>
          <h3>{{instruction.steps[0].title}}</h3>
          <p>{{instruction.steps[0].text}}</p>
        </div>
        <hr>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <button class="btn btn-outline-primary" href="" ng-click="limitValue=limitValue + instructionsPerPage;" ng-disabled="limitValue>=data.length">More</button>
        <button class="btn btn-outline-primary" href="" ng-click="limitValue=limitValue - instructionsPerPage;" ng-disabled="limitValue==instructionsPerPage">Less</button>
      </nav>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <div>
        <h3>Most popular tags</h3>
        <span ng-repeat="tag in tags"><a href="#" ng-click="searchByTag($index)">{{tag.tag}}</a>, </span>
      </div>
        
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div>
    