<div ng-controller="newInstructionCtrl" style="width: 800px;" class="container">
    <form name="myForm" novalidate class="form-signin">
            <div class="well">
                <div class="form-group">
                    <label>Title:</label>
                    <input name="title" type="text" class="form-control" required ng-model="instruction.title">
                </div>
                <label >Category</label>
                <select ng-model="instruction.category" ng-options="category for category in categories"></select>
                <br>
                <label >Tags</label>
                <div class="form-group">
                    <input name="tags" type="text" class="form-control" ng-model="tags">
                </div>

                <div ng-repeat="step in instruction.steps">
                  <div class="form-group">
                    <label >Step</label> <button class="btn btn-danger" ng-click="deleteStep(step);">delete</button>
                  </div>
                    <div class="form-group">
                        <input name="stepTitle" type="text" class="form-control" ng-model="step.title">
                    </div>
                    <div class="form-group">
                        <textarea name="stepText" cols="85" rows="10" class="form-control" ng-model="step.text"></textarea>
                    </div>
                    <label >Images</label> <button class="btn btn-danger" ng-click="deleteImages(step);">clear</button>
                    <div class="dropZone" id="{{$index}}"></div>
                </div>
                <button class="btn btn-primary btn-block" ng-click="addStep();">
                    Add step
                </button>
                <button type="submit" class="btn btn-primary btn-block" ng-click="create();">
                    Create
                </button>
            </div>
        </form>
</div>
