<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Make yourself</title>
    <script src="/javascripts/library/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/popper.js"></script>
		<link href="/stylesheets/library/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/library/bootstrap.min.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/library/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers/routeCtrl.js"></script>
    <script src="/javascripts/controllers/signUpCtrl.js"></script>
    <script src="/javascripts/controllers/signInCtrl.js"></script>
    
	</head>
	<body ng-controller="routeCtrl">
		<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">MakeYS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuContent" aria-controls="menuContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuContent">
          <ul class="nav nav-pills mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">My articles</a>
                <a class="dropdown-item" href="#">New article</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Setings</a>
            </li>
            <li class="nav-item">
              <form class="navbar-form form-inline" role="search">
                <div class="form-group">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" >
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </li>
          </ul>
          <form class="form-inline">
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
    </nav>
    </header>

    <main >
      <div ng-include="url"></div>
    </main>

    <footer class="footer">
    </footer>
	</body>
</html>
